body{
	background-color: black;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: Thin;
}
h1{
    text-align: center;
}
#vid_container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 50%;
}
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}